body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.errspan {
       float: right;
       margin-right: 6px;
       margin-top: -20px;
       position: relative;
       z-index: 2;
       color: red;
   }