<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Kundenübersicht'"></head>

<body>
	<div th:replace="layout :: navbar">(navbar)</div>


	<div class="container">
		<div class="starter-template">
			<h1>Kundenübersicht</h1>


			<div class="container">
				<div th:if="${not #lists.isEmpty(employees)}">
					<table class="table table-striped">
						<tr>
							<th>Kunde</th>
							<th>Telefonnummer</th>
							<th>Bearbeiten</th>
							<th>Löschen</th>
						</tr>
						<tr th:each="employee : ${employees}">
							<td th:text="${employee.firstname}">Vorname</td>
							<td th:text="${employee.lastname}">Nachname</td>
						
							<td><a th:href="${'/employees/' + employee.id}"
								class="fas fa-pencil-alt"></a></td>
							<td><a th:href="${'/employees/delete/' + employee.id}"
								class="far fa-trash-alt"></a></td>
						</tr>
					</table>
				</div>
				<div th:if="${#lists.isEmpty(employees)}" class="alert alert-info"
					role="alert">Keine Mitarbeiter vorhanden</div>
			</div>
			<a href="/employees/add" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Hinzufügen</a>
		</div>
	</div>

	<div th:replace="layout :: footer">(footer)</div>
</body>
</html>