<html xmlns:th="http://www.thymeleaf.org">
  <head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

  <body>
    <div th:replace="layout :: navbar">(navbar)</div>
    
     <p th:text="'Hello, ' + ${msg} + '!'" />

    <div class="container">
      <div class="starter-template">
        <h1>Spring MVC / Thymeleaf / Bootstrap</h1>
        <p class="lead" th:text="${greeting}">(greeting)</p>
        <p>The current time is <span th:text="${currentTime}">(time)</span></p>
      </div>
    </div>

<h1>Employees Table</h1>
  <table id="employeesTable" class="display">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Active</th>
            </tr>
        </tfoot>
    </table>
    
    <div th:include="layout :: footer" id="footer">(footer)</div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="/bootstrap-4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>